@model Infraestrutura.Repositorios.Entidades.Temas

@{
    ViewBag.Title = "Temas - Excluir";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}



<h2>EXCLUIR TEMA</h2>

<h3 class="msg-atencao">Você realmente quer EXCLUIR este TEMA?</h3>
<h3 class="msg-atencao">@TempData["notice"]</h3>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_tema)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_tema)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc_tema)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc_tema)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @Html.HiddenFor(model => model.Id_tema)
        @Html.HiddenFor(model => model.Desc_tema)
        <br />
        <input class="btn btn-primary" type="submit" value="Excluir" /> |
        <input class="btn btn-primary" type="button" value ="Voltar" onclick="window.location.href='@Url.Action("Index", "Temas")'"/>
    </p>    
}
