@model Infraestrutura.Repositorios.Entidades.Temas

@{
    ViewBag.Title = "Temas - Detalhes";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>DETALHES TEMA</h2>

<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_tema)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_tema)
    </div>
    <br />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc_tema)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc_tema)
    </div>
</fieldset>
<br />
<div>
    <input class="btn btn-primary" type="button" value ="Editar" onclick="window.location.href='@Url.Action("Edit", "Temas", new { Id = Model.Id_tema })'"/>
    <input class="btn btn-primary" type="button" value ="Voltar" onclick="window.location.href='@Url.Action("Index", "Temas")'"/>
</div>
