@model Infraestrutura.Repositorios.Entidades.Temas

@{
    ViewBag.Title = "Temas - Editar";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>EDITAR TEMA</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Id_tema)
            @Html.ValidationMessageFor(model => model.Id_tema)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_tema)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Desc_tema, new { @class="txtMedium"})
            @Html.ValidationMessageFor(model => model.Desc_tema)
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Salvar" />
            <input class="btn btn-primary" type="button" value ="Voltar" onclick="window.location.href='@Url.Action("Index", "Temas")'"/>
        </div>
    </fieldset>
}
