@model Infraestrutura.Repositorios.Entidades.Temas

@{
    ViewBag.Title = "Temas - Editar";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>EDITAR TEMA</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Temas</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Id_tema)
            @Html.ValidationMessageFor(model => model.Id_tema)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_tema)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Desc_tema, new { @class="txtMedium"})
            @Html.ValidationMessageFor(model => model.Desc_tema)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
