@using Infraestrutura.Repositorios.Entidades;

@{   
    Html.EnableClientValidation(true); 
}

@using (Html.BeginForm("Sala_Espera", "Jogos"))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();

    if ((ViewBag.tema != null))
    {
        Ranking jogador_ = ViewBag.rank;
        Jogos jogo_ = ViewBag.Jogo_;
        Temas tema = ViewBag.tema;        
    <section class="featured">
        <h2>Jogador</h2>
        <ul>
            <li>
                <div class="dados-jogador">
                    @if(jogo_.Usuario.imagem != null){
                    <img src="@Url.Content(jogo_.Usuario.imagem)" width="50" height="50"/>
                    }
                    else {
                        <img src="~/Images/usu.png" width="50" height="50"/>
                    }
                    <h2>@jogo_.Usuario.Nome</h2>

                    @if ((jogo_.Usuario.Personagem != null) && (jogo_.Usuario.Personagem.Imagem != null))
                    {
                    <img src="@Url.Content(jogo_.Usuario.Personagem.Imagem)" width="50" height="50"/>
                        <h2>@jogo_.Usuario.Personagem.Desc_person</h2>
                    }
                    else {
                        <img src="~/Images/usu.png" width="50" height="50"/>
                    }

                    
                    <br />
                    (@jogo_.Usuario.Cidade/@jogo_.Usuario.Estado-@jogo_.Usuario.Pais)
                    <br />
                    <div class="tema-jogador">
                        <span>&nbsp;&nbsp;Tema: @tema.Desc_tema</span>
                    </div>
                    <div style="clear: both;"></div>
                    <div style="clear: both;"></div>
                </div>
            </li>
        </ul>
    </section>  
    }

}
