@using Infraestrutura.Repositorios.Entidades;
@model Infraestrutura.Repositorios.Entidades.Jogos

@{
    String nomeUsuario = String.IsNullOrEmpty(Context.User.Identity.Name) ? "Não Autenticado" : Context.User.Identity.Name;
}

@{
    ViewBag.Title = "Sala de Espera";
    IList<Jogos> partida = ViewBag.Partida;
    Html.EnableClientValidation(true);
    Jogos jogador = ViewBag.jogador;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <head>
        <title></title>
        <meta http-equiv="refresh" content="5" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link href="../../Content/Site.css" rel="stylesheet" />
        <link href="../../Styles/style1.css" rel="stylesheet" />
        <link href="../../Styles/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="../../Styles/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Styles/jogo.css" rel="stylesheet" />
        <link href="~/Styles/tabuleiro.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="@Url.Action("List", "Salas")">
                        <div class="logoMM">
                            <img src="@Url.Content("~/Images/logo.png")" />
                        </div>
                        <div class="tituloMM">
                            <img src="@Url.Content("~/Images/letras.png")"/>
                        </div>
                    </a>
                </div>
                <div class="float-right">
                    <div class="usuario-logado">
                        @nomeUsuario
                    </div>
                </div>
            </div>
        </header>

        @Html.HiddenFor(model => model.Id_jogo, new { @name = "id_jogo" })

        <link href="~/Content/Site.css" rel="stylesheet" />
        <div id="divTempo" style="text-align: center">
            <h1>Acesso à sala @jogador.Sala.Sala</h1>
            <h6>@ViewBag.TempoRestante</h6>

            Status Atual:
        @if (jogador.DataEntradaSala != null)
        {
            <span>&nbsp;Pronto para jogar </span> 
        }
        else
        {
            <span>&nbsp;Aguardando Confirmação </span>  
        }

            <br>
            <input type="submit" class="btn btn-info" name="action:Sala_Espera" value="Modificar Status" />

        </div>

        <div id="divPlayers">
            <h3>Participantes</h3>
            <ul>
                @foreach (Jogos jogo in partida)
                {         
                    <li>
                        <div class="dados-jogador" title="SelectPlayer">
                            <table style="border: none">
                                <tr style="border: none">
                                    <td style="border: none">
                                        <img src="@Url.Content(jogo.Usuario.Personagem.Imagem)" width="50" height="50"/>
                                    </td>
                                    <td style="border: none">
                                        <h2>@jogo.Usuario.Nome </h2>
                                    </td>
                                    <td style="border: none">
                                        <button type="submit" class="btn btn-info" value="Info" name="action:Info">Info.</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div>
            <img src="~/Images/seta_dir.png" width="50" height="50" />
        </div>

        <div id="divParcial">
            @if (ViewBag.selecionado != null)
            {
                Html.RenderPartial("_AcessoPartial", new { Id_jogo = (int)ViewBag.selecionado });
            }
        </div>
    </body>
    
}

