@model Infraestrutura.Repositorios.Entidades.Personagens

@{
    ViewBag.Title = "Personagens - Editar";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h2>EDITAR PERSONAGEM</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Id_person)
            @Html.ValidationMessageFor(model => model.Id_person)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc_person)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Desc_person, new { @class="txtMedium"})
            @Html.ValidationMessageFor(model => model.Desc_person)
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Salvar" />
            <input class="btn btn-primary" type="button" value ="Voltar" onclick="window.location.href='@Url.Action("Index", "Personagens")'"/>
        </div>
    </fieldset>
}
