@model MasterMind.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Html.EnableClientValidation(true);
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    { 
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true) 
        Styles.Render("~/Content/css");
        Scripts.Render("~/bundles/modernizr"); 
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body id="login_2">

        <link href="~/Styles/Logins.css" rel="stylesheet" />
        <link href="~/Styles/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />


        <header>
            <div id="header_login_2"></div>
        </header>


        <section id="loginForm">
            <div>
                <table>
                    <tr>
                        <td style="width: 33%"></td>
                        <td style="width: 66%; text-align: left;">
                            <img src="~/Images/logo_login_2.png" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="td_left">
                            @Html.LabelFor(m => m.email)
                            @Html.TextBoxFor(m => m.email, new { @class="txtMedium" })
                            @Html.ValidationMessageFor(m => m.email)
                        </td>

                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="td_left">
                            <div style="margin-left: 10%">
                                @Html.LabelFor(m => m.Senha)
                                @Html.PasswordFor(m => m.Senha, new { @class="txtMedium" })
                                @Html.ValidationMessageFor(m => m.Senha)
                            </div>

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="td_left">
                            <input type="submit" value="Acessar" style="height: 40px; width: 100px" />&nbsp;&nbsp;&nbsp; @Html.ActionLink("Registre-se", "Register")  se você não possui uma conta.
                        </td>
                        <td></td>
                    </tr>
                </table>

            </div>
        </section>
        
    </body>
    </html>
    }


