@model Infraestrutura.Repositorios.Entidades.Usuario

<div class="display-label">
        @Html.DisplayNameFor(model => model.Id_user)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id_user)
</div>
<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Nome)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Sobrenome)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Sobrenome)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Email)
</div>

    <br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Senha)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Senha)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Dt_nasc)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Dt_nasc)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Pais)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Pais)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Cidade)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Cidade)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Estado)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Estado)
</div>

<br />
<div class="display-label">
        @Html.DisplayNameFor(model => model.Sexo)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Sexo)
</div>
